<div class = "profile">
<span class = "index"><h2> This Is About Me</h2></span>
<div class = "pic"><p>shihsi</p></div>
    <span class ="info">
      <P> User Name: Gracie Xia </p>
      <P> Bio: aihihiihihihihihihihi </p>
      <a href='/posts/'> Git Hub: vivivivivivi</a><br/><br/>
      <a href='/posts/'> ALBUM</a>
      <P> Flowing (50)</p>
      <P>Fllowed by (10) </p>
      <p>Music </P>
      <p>  Posts (<%=Post.count%>)</p>
    </span>

</div>
