<span class = "index"><h2> This Is About Me</h2></span>
    <span class ="info">
      <P> User Name: Gracie Xia </p>
      <P> Bio: aihihiihihihihihihihi </p>
      <a href='/posts/uncompleted'> ALBUM</a>
      <P> Flowing (50)</p>
      <P>Fllowed by (10) </p>
      <p>Music </P>
      <p>  Posts (<%=Post.count%>)</p>
      <div>
    </span>
