<span class = "index"><h2> Welcome To Gracie's Blog </h2></span>
    <span class ="nav">
      <div class = "about">
      <a href='/welcome/about'>Someting About Me</a><br/>
    </div>
    <div class = "all_my_post">
      <a href="/posts">All My Posts</a><br/>
    </div>
    <div class = "post_search">
      <a href="/posts/:id">Which post are you looking for</a><br/>
      <div>
    </span>

